@media screen and (max-width:419px) {

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#why.container,
#lezioni.container{
    background-color: #f2f1cd;
    margin-top: -5px;
    padding: 19px;
}


.row {
    width: 100%;
    margin-top: 0px;
  }

/* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
  }

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: none;
  width: 100%;
  padding: 20px;
}

/* BLOCCO PERCHE */
#why .row>.first,
#why .row>.second,
#why .row>.third {
  margin-top: 40px;
}

/* COMMON */

.container.grey {
  background-color: #f9f9f9; 

}

img {
  height: 120px;
}
  
}


